<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="fr.ihm.accidents">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera2.CameraDevice" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
            android:name=".DemarageAplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Accidents">

        <activity
                android:name=".WitnessNoCallActivity"
                android:label="@string/title_activity_witness_no_call"></activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />

        <activity
                android:name=".MapsActivity"
                android:label="@string/title_activity_maps" />
        <activity
                android:name=".VictimCallActivity"
                android:label="@string/title_activity_victim_call"></activity>
        <activity
                android:name=".WitnessYesCallActivity"
                android:label="@string/title_activity_witness_yes_call"></activity>
        <activity android:name=".MoreDetails" />
        <activity android:name=".VehicleNature" />
        <activity android:name=".AccidentNature" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".HumainEnDanger" />
        <activity android:name=".VictimeTemoin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name=".WebService"
                android:exported="true"
                android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="fr.ihm.accidents.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>